<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cryptobird - <%- blocks.title %></title>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous"> 
    <link rel="stylesheet" href="/assets/lib/modalbird/modalbird.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <script>console.log('Cryptobird v1.0.0');</script>
</head>

<body>
    <%- body %>
</body>

</html>
<% session.errors = []; session.success = []; session.data = undefined; -%>
<% if(session.errorCode && typeof variable === 'undefined') session.errorCode = undefined; -%>