<% layout('layout') -%>
<% block('title', "Login") -%>

<div class="vertical-center" id="login">
    <div class="card mx-auto" style="width:40em;">
        <form class="card-body m-0" action="/login" method="POST">
            <h5 class="card-title">Login</h5>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" autofocus="autofocus">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>

            <a href="#signup" class="btn btn-primary">Sign up</a>
            <button type="submit" class="btn bg-primary text-white float-right">Connect</button>
        </form>
    </div>
</div>

<div class="vertical-center" id="signup" style="display: none;">
    <div class="card mx-auto" style="width:40em;">
        <form class="card-body m-0" action="/signup" method="POST">
            <h5 class="card-title">Sign up</h5>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password2" placeholder="Password">
            </div>

            <a href="#login" class="btn btn-primary">Log in</a>
            <button type="submit" class="btn bg-primary text-white float-right">Connect</button>
        </form>
    </div>
</div>

<script>
    function switchWindow() {
        switch (location.hash) {
            case "#signup":
                document.getElementById("login").style.display = "none";
                document.getElementById("signup").style.display = "";
                break;
            default:
                document.getElementById("signup").style.display = "none";
                document.getElementById("login").style.display = "";
                break;
        }
    }

    switchWindow();

    window.addEventListener('hashchange', e => {
        switchWindow();
    });
</script>