<% layout('layout') -%>
<% block('title', "Messages") -%>
<input type="hidden" id="_csrf" value="<%- csrfToken %>">
<div class="h-100 d-flex">
    <div class="h-100 d-flex flex-column border-right" style="width:20em;min-width:20em;max-width:20em;">
        <div id="search-box" class="px-3 py-2">
            <input id="search" class="form-control px-3 search-bar" autocomplete="off" placeholder="Search">
        </div>
        <div id="search-response" class="p-0 overflow-auto h-100 d-none">
            <small class="px-2 text-secondary">Contacts</small>
            <div id="search-contacts" class="list-group"></div>
            <small class="px-2 text-secondary">Others</small>
            <ul id="search-others" class="list-group"></ul>
            <small class="px-2 text-secondary">Asked</small>
            <ul id="search-asked" class="list-group"></ul>
        </div>
        <div id="contacts-list" class="p-0 overflow-auto h-100 d-none"></div>
        <div id="groups-list" class="p-0 overflow-auto h-100 d-none">
            <button id="new-group-btn" class="btn bg-primary text-white w-100">Create a group</button>
        </div>
        <div id="my-infos" class="p-0 overflow-auto h-100 d-none">
            <div class="w-50 mt-2 mx-auto">
                <div class="w-100 profil-pic" style="background-image:url(/assets/img/profil.png)"></div>
            </div>
            <h4 class="text-center"><%- session.account.username %></h4>
        </div>
        <div id="messages-list" class="list-group p-0 overflow-auto h-100">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">QuantumSheep</h5>
                    <small>2 hours ago</small>
                </div>
                <small class="limited-text w-100">So yesterday I told you that that will be great if we go to Camping this week!</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Loli girl</h5>
                    <small>1 days ago</small>
                </div>
                <small class="limited-text w-100">I swear I've 21 years old</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Hitsu</h5>
                    <small>5 days ago</small>
                </div>
                <small class="limited-text w-100">He's such a good and modest developper</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Simon</h5>
                    <small>6 days ago</small>
                </div>
                <small class="limited-text w-100">I finished that amazing book from Asimov the last week, it was gorgeous!</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Michael</h5>
                    <small>6 days ago</small>
                </div>
                <small class="limited-text w-100">And then I vomited all my spagets</small>
            </a>
        </div>
        <div class="d-flex justify-content-between">
            <button id="btn-messages" class="btn m-0 p-2 text-center w-100 active"><i class="fas fa-comments"></i></button>
            <button id="btn-contacts" class="btn m-0 p-2 text-center w-100"><i class="fas fa-user-friends"></i></button>
            <button id="btn-groups" class="btn m-0 p-2 text-center w-100"><i class="fas fa-users"></i></button>
            <button id="btn-me" class="btn m-0 p-2 text-center w-100"><i class="fas fa-user"></i></button>
        </div>
    </div>
    <div class="h-100 w-100">
        <div class="d-flex flex-column h-100 w-100">
            <ul id="messages" class="h-100 m-0 p-0"></ul>
            <form id="input" class="d-flex w-100 border-top m-0">
                <input class="form-control w-100 h-100 p-2" name="m" autocomplete="off" placeholder="Message">
                <button type="submit" class="btn btn-primary bg-primary text-white m-0">Send</button>
            </form>
        </div>
    </div>
</div>

<div class="modalbird hide" data-modal="group-1">
    <form class="modalbird-body" id="group-1">
        <div class="modalbird-header">
            <i class="modalbird-closemark" data-action="close"></i>
        </div>
        <div class="modalbird-content mb-3">
            <input class="form-control w-100 h-100 p-2" name="name" autocomplete="off" placeholder="Group's name">
        </div>
        <div class="modalbird-footer text-right">
            <button type="button" class="btn text-white bg-secondary" data-action="close">Cancel</button>
            <button type="submit" class="btn text-white bg-primary">Next</button>
        </div>
    </form>
</div>

<div class="modalbird hide" data-modal="group-2">
    <form class="modalbird-body" id="group-2">
        <div class="modalbird-header">
            <h4 class="modalbird-title">Add members</h4>
            <i class="modalbird-closemark" data-action="close"></i>
        </div>
        <div class="modalbird-content mb-3">
            <div></div>    
        </div>
        <div class="modalbird-footer text-right">
            <button type="button" id="group-2-previous" class="btn text-white bg-secondary" data-action="close">Previous</button>
            <button type="submit" class="btn text-white bg-primary">Create</button>
        </div>
    </form>
</div>
<script src="/assets/lib/modalbird/modalbird.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/messenger.js"></script>