<% layout('layout') -%>
<% block('title', "Messages") -%>
<div class="h-100 d-flex">
    <div class="h-100 list-group p-0 overflowy-auto border-right" style="width:20em;min-width:20em;max-width:20em;">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">QuantumSheep</h5>
                <small>2 hours ago</small>
            </div>
            <small class="limited-text w-100">So yesterday I told you that that will be great if we go to Camping this week!</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Loli girl</h5>
                <small>1 days ago</small>
            </div>
            <small class="limited-text w-100">I swear I've 21 years old</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Hitsu</h5>
                <small>5 days ago</small>
            </div>
            <small class="limited-text w-100">He's such a good and modest developper</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Simon</h5>
                <small>6 days ago</small>
            </div>
            <small class="limited-text w-100">I finished that amazing book from Asimov the last week, it was gorgeous!</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Michael</h5>
                <small>6 days ago</small>
            </div>
            <small class="limited-text w-100">And then I vomited all my spagets</small>
        </a>
    </div>
    <div class="h-100 w-100">
        <div class="position-absolute rpanel">
            <span id="connected"></span>
            <i class="fas fa-male"></i>
        </div>
        <div class="d-flex flex-column h-100 w-100">
            <ul id="messages" class="h-100 m-0 p-0"></ul>
            <form id="input" class="d-flex w-100 border-top m-0" action="">
                <div class="w-100">
                    <input class="form-control w-100 p-2" name="m" autocomplete="off" placeholder="Message">
                </div>
                <button type="submit" class="btn btn-primary bg-primary text-white m-0">Send</button>
            </form>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    socket.on('chat message', msg => {
        document.getElementById("messages").innerHTML += `<li>${msg}</li>`;
        document.getElementById("messages").scrollTop = document.getElementById("messages").scrollHeight - document.getElementById("messages").clientHeight;
    });

    socket.on('infos connected', num => {
        document.getElementById("connected").innerHTML = num;
    });

    document.getElementById("input").addEventListener("submit", e => {
        e.preventDefault();

        socket.emit('chat message', e.target.m.value);

        e.target.m.value = "";
        return false;
    });
</script>