* {
    box-sizing: border-box;
}

input {
    transition-duration: .3s !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    word-break: break-all;
}

div {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rpanel {
    position: absolute;
    right: 5px;
    user-select: none;
    pointer-events: none;
}

.overflow-auto {
    overflow-y: auto;
}

.limited-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: initial;
}

.untouchable,
.untouchable * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

a.btn {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#messages {
    overflow: auto;
}

#messages li {
    padding: 5px 10px;
}

#messages li * {
    max-width: 100%;
}

#messages li:nth-child(odd) {
    background: #eee;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

.profil-pic {
    border-radius: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
}

.search-bar {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    transition: all .3s;
}

.search-bar:focus {
    background: rgba(0, 0, 0, 0.15);
}