* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    word-break: break-all;
}

.rpanel {
    position: absolute;
    right: 5px;
    user-select: none;
    pointer-events: none;
}

#messages {
    overflow: auto;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}